body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Source Code Pro", monospace;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
}

.container-wrap {
  border-radius: 25px;
  margin: 15px;
  padding: 15px;
  color: rgb(179, 179, 179);
  height: 550px;
}
.weather-side {
  position: relative;
  height: 100%;
  border-radius: 25px;
  background-image: url(https://images.unsplash.com/photo-1550507894-975103845538?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  width: 500px;
}

.weather-gradient {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  border-radius: 25px;
  opacity: 2px;
}
.date-container {
  display: block;
  margin: 20px;
  padding: 20px;
}
.Day {
  top: 20%;
  right: 20%;
  font-size: 40px;
  color: rgb(179, 179, 179);
}

.Date {
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: rgb(179, 179, 179);
}
.Hour {
  margin-top: 0;
  font: bold;
  font-weight: 10px;
  font-size: 18px;
  color: rgb(179, 179, 179);
}

.location {
  display: inline-block;
  margin-top: 10px;
  font-size: 30px;
  color: rgb(179, 179, 179);
}

.weather-des {
  font-size: 20px;
  margin: 0;
  color: rgb(179, 179, 179);
}
.weather-deg {
  font-size: 20px;
  font-weight: 10px;
  margin: 0;
}

.city-name {
  position: absolute;
  top: 10%;
  right: -15%;
  transform: translate(-60%, -60%);
  height: 38px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 40px;
  border-style: double;
  color: white;
}

.fas-fa-cloud i {
  right: 10px;
  height: 40px;
  width: auto;
  color: darkgrey;
  font-size: 15px;
}
.weather-temp {
  padding: 0;
  margin: 0;
  font-weight: 250;
  font-size: 80px;
  color: rgb(179, 179, 179);
}
.percentage-speed {
  position: absolute;
  text-align: right;
  right: 15%;
  padding: 5px;
  margin: 5px;
  list-style: none;
  color: rgb(179, 179, 179);
}

.search-form {
  text-align: center;
  border: none;
  color: rgb(179, 179, 179);
  background: none;
  outline: none;
  padding: 1px;
  margin: 1px;
  font-weight: 17px;
  font-size: 17px;
  transition: 0.5s;
  line-height: 20px;
  width: 150px;
}
.search-loop {
  position: absolute;
  color: white;
  top: 2%;
  right: 1.01%;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 45%;
  background: rgb(179, 179, 179);
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-name:hover {
  width: 200px;
  padding: 10px;
  margin: 5px;
  transition: 0.4s;
  background: none;
  color: rgb(179, 179, 179);
}
.link-code {
  position: absolute;
  left: 10%;
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
  color: black;
}
